<div>
    <button (click)="onSort('name')">Ordenar por nombre</button>
</div>
<table class="table table-bordered">
    <thead>
        <td scope="col">Id</td>
        <td scope="col">Name</td>
        <td scope="col">Actions</td>
    </thead>
    <tbody>
        <tr appHover *ngFor="let prod of allProducts; let i = index;">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{prod.name | shortText: 15}}</td>
            <td>
                <button class="btn btn-sm btn-info" type="button">Deshabilitar</button>
                <button class="btn btn-sm btn-primary" type="button">Ver detalles</button>
                <button class="btn btn-sm btn-danger" (click)="onRemove(prod.id)" type="button">Eliminar</button>
            </td>
        </tr>
    </tbody>
</table>